@model DominosCMS.Web.Models.SubmittalBuilderModel

        <div class="form-line">
            <label>Mil Thickness (Gauge):</label>
            @Html.DropDownList("MilThickness", new SelectList(Model.MilThickness, "Key", "Value"), "Select") 
        </div>
        <div id="dvYeildStrength">

        </div>

<script type="text/javascript">

    $(function () {
        $("#MilThickness").change(function () {
            var id = $("#product").val();
            $($("<span/>", { id: "fieldsLoader", "class": "loading" })).insertAfter(this).show();

            var Selects = new Array();
            Selects[0] = $("#WebDepth").val();
            Selects[1] = $("#FlangeWidth").val();
            Selects[2] = $("#MilThickness").val();

            var fields = $("#dvYeildStrength");
            var url = "/Submittals/LoadFields2?id=" + id + "&SelectNo=3&Selects=" + Selects;
            
            $(fields).load(url, null, function () {
                updateSections();

                var ys = $("#editys").val();
                if (ys) {
                    $("#fields #YeildStrength").val(ys);
                    $("#fields #YeildStrength").trigger("change");
                }

            });
        });
    });
</script>
