@{
    ViewBag.Title = "Password Sent";
}

<h2>Your account information has been sent!</h2>
<p>If you do not receive the email message within a few minutes, please check your Spam or Bulk E-Mail folder just in 
    case the confirmation email got delivered there instead of your inbox. If so, make sure we are added to your 
    safe senders list to ensure future messages are delivered to your inbox.</p>
<p>
    If you still did not receive your confirmation <a href="@Url.Action("ForgotPassword")">click here</a> to send a new email or contact us at <a href="mailto:support@steelnetwork.com">support@steelnetwork.com</a>.
</p>
