@{
    ViewBag.Title = "VerificationSent";
}

<h2>One more step is needed to complete your registration.</h2>

<p>We sent an email to the email address you provided.  Please check your email, and follow the instructions to activate your account.
</p>
