@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_ITelligentInner.cshtml";
}
     <img src="/content/images/About-us.jpg" alt="" width="145" height="50" />
        <p>United OFOQ Corp is a professional and dynamic shareholder company, established in 1997 with a strong and experienced management team backed with a sound financial and manufacturing basis and strong potential for growth.</p>
        
        <p>The Eyes to Visualize          </p>
        <p>United OFOQ is a fast growing software organization emerged with an objective to become one of the most promising high quality providers of software solutions and services in the Middle East IT market.          </p>
        <p>United OFOQ started operating in 1997 to serve a niche market segment in software development. In 2001 it has become one of the most successful software houses in the Middle East Market, achieving record growth associated with successful penetration of this very unique market.          </p>
        <p>United OFOQ is dedicated to providing its customers with leading edge business solutions for various industry segments, satisfying their precise needs, and meeting their goals.          </p>
        <p>United OFOQ is gaining a leader's stance, by investing in development and exploring the most effective infrastructure improvements in areas of interest for potential growth.          </p>
        <p>United OFOQ's current workforce consists of highly skilled professionals in the areas of consultation, analysis, development, and translation. The structure of United OFOQ is made of a highly integrated and a completely harmonious diversity of talents.        </p>
        <p>The Vision that Makes a Mission          </p>
        <p>United OFOQ is a software house with a clear vision to face the challenges of tomorrow.
          Our focus is to ensure that our clients, subsequently ourselves, will continue to lead into this new age and new business environment. Fostering more profitable IT relationships and improving business performance are also in the core of our business.          </p>
        <p>Moreover, we seek to help our partners understand the direction and pace of change in their industry and work through the identification and analysis of leading-edge innovations and strategies.          </p>
        <p>Seeing Is Believing          </p>
        <p>We revolutionize the way nowadays IT organizations compete in this Eveready arena. Our strength lies in our ability to maintain technical leadership and use advanced tools.          </p>
        <p>As leaders in the IT world, we pave the way with perceptive technologies to enable our clients take the lead in their individual Markets. This can only happen by building a highly qualified technical infrastructure and by increasing the level of standardization and focus on customer satisfaction and success, which become intertwined.          </p>
        <p>United OFOQ succeeded in serving its valued clients and in achieving customer satisfaction by working closely with clients to create the ultimate solutions for every project phase, while always maintaining top international standards. </p>
        <p>United OFOQ continually innovates technologies to give clients a competitive edge, and support them through all phases of implementation, to fulfill fingertip control over their business as well as complete mastery.          </p>
        <p>United OFOQ builds alliances with other IT organizations in the region where partners can utilize from OFOQ's resources as well as experiences.
          It is the dedication, hard efforts, and continuous increasing work of the team that made OFOQ rapidly takes an advanced position in the software industry, through concrete grounds</p>


