@{
    ViewBag.Title = "Contact Submitted";
}

    <h2>Thank you</h2>
    <p>Your inquiry has been submitted to our support team, you will be contacted within a few days.</p>
    <p>@Html.ActionLink("Back to home", "Index", "Home") </p>
