@{
    ViewBag.Title = "Opt-Out";
}
<p>Your name has been removed from our email list. Please note that it may take up to 24 hours to process an opt-out request.</p>
<p>
    @Html.ActionLink("Back to home", "Index", "Home")
</p>
