@{
    ViewBag.Title = "Index";
}

@section scripts {
    
<script type="text/javascript">
    $(function () {
        $("#btn").click(function (e) {
            e.preventDefault();

            $.get('/Test/GetData', { id: 10 }, function (data) {
                $("#msg").html(data);
                console.log(data);
            });
        });
    });
</script>
    }

<h2>Index</h2>

<a href="#" id="btn">Click me</a> 

<div id="msg"></div>
