
    
    <style type="text/css">
        #frm-data
        {
            float: left;
            width: 60%;
        }

        #logo
        {
            float: right;
            width: 35%;
            text-align: center;
        }

    </style>

<h2>Account Details</h2>


<div id="frm-data">
    <table class="frm">
        <tr>
            <td>*</td>
            <td>Type</td>
            <td>
                @Html.DropDownListFor(m => m.Type, new SelectList(companyTypes)) 
            </td>
            <td colspan="4">@Html.EditorFor(m => m.Type) </td>
        </tr>
        <tr>
            <td>*</td>
            <td>@Html.LabelFor(m => m.FirstName)</td>
            <td>@Html.EditorFor(m => m.FirstName) </td>
            <td>@Html.EditorFor(m => m.MiddleInitial) </td>
            <td colspan="4">@Html.EditorFor(m => m.LastName) </td>
        </tr>
        <tr>
            <td> </td>
            <td>@Html.LabelFor(m => m.CompanyName)</td>
            <td colspan="6">@Html.EditorFor(m => m.CompanyName)</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Phone</td>
            <td>@Html.TextBox("PhoneEx1", Util.GetAccountPhoneEx1(Model.Phone))</td>
            <td>-</td>
            <td>@Html.TextBox("PhoneEx2", Util.GetAccountPhoneEx2(Model.Phone))</td>
            <td>-</td>
            <td>@Html.TextBox("Phone", Util.GetAccountPhone(Model.Phone))</td>
        </tr>
        <tr>
            <td> </td>
            <td>Fax</td>
            <td>@Html.TextBox("FaxEx1", Util.GetAccountPhoneEx1(Model.Fax))</td>
            <td>-</td>
            <td>@Html.TextBox("FaxEx2", Util.GetAccountPhoneEx2(Model.Fax))</td>
            <td>-</td>
            <td>@Html.TextBox("Fax", Util.GetAccountPhone(Model.Fax))</td>
        </tr>
        <tr>
            <td>*</td>
            <td>Address</td>
            <td colspan="6">@Html.EditorFor(m => m.Address)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="6">@Html.EditorFor(m => m.Address2)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="2">@Html.EditorFor(m => m.City)</td>
            <td colspan="2">@Html.EditorFor(m => m.State)</td>
            <td>@Html.EditorFor(m => m.ZipCode)</td>
        </tr>
        <tr>
            <td>Username/Email</td>
            <td>@ViewBag.Email</td>
        </tr>
    </table>
</div>
<div id="logo">
          <fieldset>

              <legend>Company Logo</legend>

              <img src="@ViewBag.Logo" width="200" height="200" id="productImage" /><br />
              
              <input type="file" name="company_logo" id="company_logo" />
                @Html.ValidationMessageFor(m => m.Logo)
          </fieldset>
    
</div>
<div class="clear"></div>
            <p>
                <input type="submit" value="Update Account" />
            </p>
<p>
    Cancel
</p>
