@{
    ViewBag.Title = "Custom Product Request Submitted Successfully!";
}

@section header {
    <script type="text/javascript">
        $(function () {

        });
        setInterval(function () {
            var num = $("span.counter").text();
            if (num == 0) return;

            $("span.counter").text(num - 1)
            //console.log(num - 1);

        }, 1000);


        setTimeout(function () {
            location.href = '@Url.Action("Index", "User")';
        }, 10000);
    </script>
}

<h2>Custom Product Request Submitted Successfully!</h2>
<p>
    Thank you for submitting your custom product request!  A TSN associate will be in contact with you shortly to confirm your requirements and complete your request. 
</p>

<p>
    You will be returned to Submittal page in <span class=counter>10</span> seconds or <a href="@Url.Action("Index", "User")">click here</a>. 
</p>
