@model DominosCMS.Web.Models.SubmittalBuilderModel

        <div class="form-line">
            <label>Yield Strength (ksi):</label>
            @Html.DropDownList("YeildStrength", new SelectList(Model.YeildStrengths, "Key", "Value"), "Select") 
        </div>
        <div class="form-line">
            <label>Coating Weight:</label>
            
             @Html.DropDownList("CoatingWeights", new SelectList(Model.CoatingWeights, "key", "value")) 
        </div>

<script type="text/javascript">

    $(function () {
        $("#YeildStrength").change(function () {

            updateSections(this);
        });
        $("#CoatingWeights").change(function () {

            updateSections(this);
        });
    });
</script>
