BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
H3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.content {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #000000 1px solid; WIDTH: 750px; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.content H2 {
	FONT-SIZE: 12px
}
.topside H1 {
	DISPLAY: block; BACKGROUND: url(http://www.ul.com/database/2005/header.gif) no-repeat left top; WIDTH: 740px; HEIGHT: 40px
}
.topside H1 SPAN {
	DISPLAY: none; TEXT-ALIGN: center
}
.topside .buttons {
	DISPLAY: block; LEFT: 400px; POSITION: absolute; TOP: 25px
}
.topside .buttons A {
	PADDING-RIGHT: 10px; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.leftside {
	PADDING-BOTTOM: 3em; MARGIN-LEFT: 20px; WIDTH: 300px; MARGIN-RIGHT: 20px; BACKGROUND-COLOR: #f2f2f2
}
.leftside H2 {
	DISPLAY: block; BACKGROUND: url(http://www.ul.com/database/2005/basic.gif) no-repeat left top; WIDTH: 300px; HEIGHT: 27px
}
.leftside H2 SPAN {
	DISPLAY: none
}
.leftside P {
	FONT-SIZE: 11px; MARGIN: 0px 5px
}
.leftside UL {
	FONT-SIZE: 11px; MARGIN: 0px 5px 0px 10px; LIST-STYLE-TYPE: disc
}
LI {
	FONT-SIZE: 11px; MARGIN: 0px 5px 0px 10px; LIST-STYLE-TYPE: disc
}
.leftside TD {
	FONT-WEIGHT: bold; FONT-SIZE: 8px
}
.leftside SELECT {
	FONT-SIZE: 9px
}
INPUT {
	FONT-SIZE: 9px
}
.rightside {
	FLOAT: right; WIDTH: 300px; MARGIN-RIGHT: 20px
}
.rightside H2 {
	FONT-SIZE: 12px
}
.rightside P {
	FONT-SIZE: 11px
}
.rightside A {
	DISPLAY: block; FONT-SIZE: 11px; PADDING-BOTTOM: 0.5em
}
.inner {
	FONT-SIZE: 11px; MARGIN: 0px 2em
}
.inner H1 {
	FONT-SIZE: 12px; TEXT-ALIGN: center
}
.inner TABLE {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #eeeeee
}
.inner P {
	FONT-SIZE: 11px
}
TD {
	FONT-SIZE: 11px
}
UL {
	FONT-SIZE: 11px
}
LI {
	FONT-SIZE: 11px
}
.inner .footer {
	PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 1em; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.inner .footer TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
.listing {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.listing TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 11px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
.listing H4 {
	FONT-SIZE: 11px
}
.listing TD {
	FONT-SIZE: 11px
}
P {
	FONT-SIZE: 11px
}
.copyright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.letterhead {
	DISPLAY: none; TEXT-ALIGN: center
}
.tips {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 13px; PADDING-BOTTOM: 13px; WIDTH: 80%; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.logo {
	DISPLAY: none
}
