@model DominosCMS.Web.Models.SubmittalBuilderModel

        <div class="form-line">
            <label>Mil Thickness (Gauge):</label>
            @Html.DropDownList("MilThickness", new SelectList(Model.MilThickness, "Key", "Value"), "Select") 
        </div>
        @Html.Hidden("CoatingWeights", "G40")

<script type="text/javascript">

    $(function () {
        $("#MilThickness").change(function () {
            updateSections(this);
        });
    });
</script>