@model DominosCMS.Web.Models.SubmittalBuilderModel
        
        @{
            int? proID = ViewBag.ProductID as int?;
            
            if (proID == 60)
            {
                Model.LegLengths["1"] = "Single";
                Model.LegLengths["2"] = "Double";
            }
        }

        <div class="form-line">
            @if (proID == 60)
            {
            <label>Leg:</label>
            } else {
            <label>Leg Length:</label>
            }
            @Html.DropDownList("LegLength", new SelectList(Model.LegLengths, "Key", "Value"), "Select") 
            @Html.Hidden("CoatingWeights", "G40")

        </div>
        <div id="dvMilThickness">

        </div>

<script type="text/javascript">

    $(function () {
        $("#LegLength").change(function () {
            var id = $("#product").val();
            $($("<span/>", { id: "fieldsLoader", "class": "loading" })).insertAfter(this).show();

            var Selects = new Array();
            Selects[0] = $("#LegLength").val();

            var fields = $("#dvMilThickness");
            var url = "/Submittals/LoadFields2?id=" + id + "&SelectNo=1&Selects=" + Selects//"Url.Action("Submittals", "LoadFields2", new { id = 0, SelectNo = 1})";   ;

            $(fields).load(url, null, function () {
                updateSections();
                var mt = $("#editmt").val();
                //console.log(mt);
                if (mt) {
                    $("#fields #MilThickness").val(mt);
                    $("#fields #MilThickness").trigger("change");
                }

            });
        });

    });
</script>
