@model DominosCMS.Web.Models.SubmittalBuilderModel

        <div class="form-line">
            <label>Web Depth:</label>
            @Html.DropDownList("WebDepth", new SelectList(Model.WebDepths, "Key", "Value"), "Select") 
        @Html.Hidden("CoatingWeights", "G40")
        </div>
        <div id="dvLegLength">

        </div>
<script type="text/javascript">

    $(function () {
        $("#WebDepth").change(function () {
            var id = $("#product").val();
            $($("<span/>", { id: "fieldsLoader", "class": "loading" })).insertAfter(this).show();

            var Selects = new Array(); 
            Selects[0] = $("#WebDepth").val();

            var fields = $("#dvLegLength");
            var url = "/Submittals/LoadFields2?id=" + id + "&SelectNo=1&Selects=" + Selects;

            $(fields).load(url, null, function () {
                updateSections();

                var ll = $("#editll").val();
                //console.log(mt);
                if (ll) {
                    $("#fields #LegLength").val(ll);
                    $("#fields #LegLength").trigger("change");
                }

            });


        });

    });
</script>
