@model DominosCMS.Web.Models.SubmittalBuilderModel

        <div class="form-line">
            <label>Flange Width:</label>
            @Html.DropDownList("FlangeWidth", new SelectList(Model.FlangeWidths, "Key", "Value"), "Select") 
        </div>
        <div id="dvMilThickness">

        </div>

<script type="text/javascript">

    $(function () {
        $("#FlangeWidth").change(function () {
            var id = $("#product").val();
            $($("<span/>", { id: "fieldsLoader", "class": "loading" })).insertAfter(this).show();

            var Selects = new Array();
            Selects[0] = $("#WebDepth").val();
            Selects[1] = $("#FlangeWidth").val();

            var fields = $("#dvMilThickness");
            var url = "/Submittals/LoadFields2?id=" + id + "&SelectNo=2&Selects=" + Selects//"Url.Action("Submittals", "LoadFields2", new { id = 0, SelectNo = 1})";   ;

            $(fields).load(url, null, function () {
                updateSections();
                var mt = $("#editmt").val();
                //console.log(mt);
                if (mt) {
                    $("#fields #MilThickness").val(mt);
                    $("#fields #MilThickness").trigger("change");
                }

            });
        });
    });
</script>
