@model DominosCMS.Web.Models.SubmittalBuilderModel

        <div class="form-line">
            <label>Number of Columns:</label>
            @Html.DropDownList("LegLength", new SelectList(Model.LegLengths, "Key", "Value"), "Select") 
        </div>
        <div class="form-line">
            <label>Boot Kit:</label>
            @Html.DropDownList("BootKit", new SelectList(Model.BootKits, "Key", "Value"), "Select") 
        </div>
        <div class="form-line">
            <label>Coating Weight:</label>
            
             @Html.DropDownList("CoatingWeights", new SelectList(Model.CoatingWeights, "key", "value")) 
        </div>
        <div class="form-line">
            <label>Punchouts:</label>
             @Html.DropDownList("Punchouts", new SelectList(Model.Punchouts, "key", "value")) 
        </div>

<script type="text/javascript">

    $(function () {
        $("#LegLength").change(function () {
            updateSections(this);

            var val = $(this).val();

            if (val == 2) {
                $("#BootKit option").eq(1).hide();
            } else {
                $("#BootKit option").eq(1).show();
            }
            //console.log("change fired!");
            if ($(this).val() > 1) {
                if ($("#photo2").val())
                    $("#productImage").attr("src", $("#photo2").val());
                else {
                    $("#productImage").hide();
                    $("#sectionLabel").remove();
                }

            } else {
                if ($("#photo1").val())
                    $("#productImage").attr("src", $("#photo1").val());
                else {
                    $("#productImage").hide();
                    $("#sectionLabel").remove();
                }
            }

        });

        
        $("#CoatingWeights").change(function () {

            updateSections(this);
        });
        $("#Punchouts").change(function () {
            updateSections(this);
        });
    });
</script>
