@model IEnumerable<DominosCMS.Models.Page>
@using DominosCMS.Web.Helpers;     


<input type="hidden" value="Title" id="current-sort" />

<table class="tablesorter" style="width: 100%; margin-top: 20px;">
    <thead>
    <tr>
        <th  class="title">
            Title
        </th>
        <th class="url">
            Url
        </th>
        <th class="{sorter: false}"></th>
    </tr>
        </thead>
        <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
			@item.Title
        </td>
        <td>
            <a href="/site/@item.Url" target = "_blank">/site/@item.Url</a>
        </td>
        <td style="width: 100px; text-align: center">
        <span class="controls">
            @Html.Hidden("IDs", item.ID)
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class="various", data_fancybox_type="iframe" }) | 
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "delete-link" }) 
        </span>
        </td>
    </tr>
    
}
    <//tbody>
</table>
