<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="menuTypesConfigurations" type="DominosCMS.Web.Configuration.MenuTypesSettings,                                     DominosCMS.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CMSDbContext" connectionString="Data Source=MIS;Initial Catalog=ASIPortal;Persist Security Info=True;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
    <add name="TSNOFFICEDOTNETConnectionString" connectionString="Data Source=MIS;Initial Catalog=ASIPortal;Persist Security Info=True;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="mailServer" value="tsndomain.local" />
    <add key="emailsender" value="abobakr@tsndomain.local" />
    <add key="emailpass" value="" />
    <add key="filesdir" value="/Content" />
    <add key="gallery" value="/Content/res/gallery" />
    <add key="TestmonialsPhotos" value="/Content/res/Testmonials" />
    <add key="ClientsPhotos" value="/Content/res/Clients" />
    <add key="CompanyLogos" value="/data/res/CompanyLogos" />
    <add key="NewsPhotos" value="/Content/res/News" />
    <add key="ProductPhotos" value="/Content/res/Products" />
    <add key="ProductFiles" value="/data/res/Products/Files" />
    <add key="CustomProductFiles" value="/Content/res/Products/Custom" />
    <add key="ReportsFiles" value="/Content/res/PDF" />
    <add key="BannersPhotos" value="/Content/res/Banners" />
    <add key="StylesFolder" value="/_static/css/" />
    <add key="ScriptsFolder" value="/_static/js/" />
    <add key="downloads" value="/Content/Downloads/files" />
    <add key="PasswordSender" value="info@steelnetwork.com" />
    <!--<add key="filesdir" value="/data/files" />
    <add key="gallery" value="/data/res/gallery" />
    <add key="TestmonialsPhotos" value="/data/res/Testmonials" />
    <add key="ClientsPhotos" value="/data/res/Clients" />
    <add key="CompanyLogos" value="/data/res/CompanyLogos" />
    <add key="NewsPhotos" value="/data/res/News" />
    <add key="ProductPhotos" value="/data/res/Products" />
    <add key="ProductFiles" value="/data/res/Products/Files" />
    <add key="CustomProductFiles" value="/data/res/Products/Custom" />
    <add key="ReportsFiles" value="/data/res/Reports" />
    <add key="BannersPhotos" value="/data/res/Banners" />
    <add key="StylesFolder" value="/_static/css/" />
    <add key="ScriptsFolder" value="/_static/js/" />-->
  </appSettings>
  <system.web>
    <httpRuntime maxQueryStringLength="204008" />
    <sessionState mode="InProc" timeout="180" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Home/Error/">
      <error statusCode="404" redirect="~/Home/NotFound/" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- menu types configurations -->
  <menuTypesConfigurations>
    <menuTypes>
      <menuType name="articles" title="Single Article" controller="Articles" action="View">
        <params>
          <param name="name" type="text"></param>
        </params>
      </menuType>
      <menuType name="articleList" title="Articles List" controller="Articles" action="List">
        <params>
          <param name="id" type="select" dataSource="Articles/List" dataValue="ID" dataText="Title"></param>
        </params>
      </menuType>
    </menuTypes>
  </menuTypesConfigurations>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>