@model DominosCMS.Models.SubmittalItem

@{
    Layout = "~/Views/Shared/_members.cshtml";
    
}


@section right {
            <h1>To be implemented</h1>

        
}

            <h1>To be implemented</h1>

@section comments {
    
    <ul>
        <li>1 Iy and Mya are based on the web element in tension.</li>
        <li>2 Iy and Mya are based on the web element in compression.</li>
        <li>Section properties and capacities are calculated in accordance with AISI‐NASPEC 2007.</li>
        <li>∙ Tabulated gross properties are based on the full, unreduced cross section of the stud away from punchouts.</li>
        <li>∙ Effective section properties incorporate the strength increase from cold work of forming as applicable per AISI‐NASPEC, Sec. A7.2.</li>
        <li>∙ Net effective section properties are calculated at a cross section through the punchout.</li>
        <li>∙ For deflection calculations, use the effective moment of inertia (Ix). This Ix is calculated at a stress which results in a section modulus such that the stress times the section modulus at that stress is equal to the allowable moment. AISI S100‐07 Procedure I for serviceability determination has been used.</li>
    </ul>

}