@{
    Layout = "~/Views/Shared/_popup.cshtml";
    ViewBag.Title = "TestAjax";
}

@section header {
    <script language="javascript" type="text/javascript">
        $(function () {
            
            $("a").click(function () {
                $.get('@Url.Action("TestAjax")', null, function (data) {
                    $("#Contents").html(data);
                }, "html");

              
                return false;
            })

        })
        
    </script>
}
<h2>Test Ajax</h2>
<a href="@Url.Action("TestAjax")" id="link">Reload</a>

<div id="Contents">
    This is the normal request!
</div>


