@model DominosCMS.Models.Product
@using DominosCMS.Web.Helpers;

@{
    if (Model == null) { return; }
    ViewBag.ProID = Model.ID;
}

<div id="noteForm">
    @using (Html.BeginForm("SaveNote", "Products"))
    {
    <fieldset>
        <legend>Add Note</legend>
        <div class="editor-label">
            Note#
        </div>
        <div class="editor-field">
            @Html.TextBox("noteNumber")

        </div>
        <div class="editor-label">
            Text
        </div>
        <div class="editor-field">
            @Html.TextArea("noteText")

        </div>
        <p>
            @Html.Hidden("note_id", "0")
            @Html.Hidden("pro_id", Model.ID)
            <input type="submit" value="Submit" class="various" />

        </p>
    </fieldset>
    }
</div>
<div id="notesList">
    <fieldset>
        <legend>Notes</legend>

        <div id="notesPlaceHolder">
            @{ Html.RenderPartial("_NotesList", Model.Notes); }
        </div>
    </fieldset>
</div>

<div class="clear"></div>
