@model DominosCMS.Models.Product
@using DominosCMS.Web.Helpers;

@{
    ViewBag.Title = "_ProductSpecs";
    if (Model == null || Model.Files == null) { return; }
    
    var files = Model.Files.OrderBy(s => s.Filename).ToList();

    
}

        <div id="toolbar">
            <a id="btnAddFile" class="various" href="@Url.Action("AddFile", new { productID = Model.ID })" title="Add Specs item">
                <img src="@Url.Content("~/_static/images/icons/new.png")" alt="Add Specs item" />
            </a>
       </div>

              
          @if (Model != null)
          {
              Html.RenderPartial("FilesList", files);
          }

