@model IList<DominosCMS.Models.SpecificationItem>
@using DominosCMS.Web.Helpers;

@{
    ViewBag.Title = "Specs";
}



              @foreach (var item in Model)
              { 
                    
                  <li>
                      @Html.Hidden("IDs", item.ID)
                      <span class="actions">
                    @Html.ImageActionLink(Url.Content("~/_static/images/icons/edit.jpg"), "Edit", Url.Action("EditSpecs", new { id = item.ID }), new { @class = "edit-link" })
                    @Html.ImageActionLink(Url.Content("~/_static/images/icons/delete2.jpg"), "Delete", Url.Action("DeleteSpecs", new { id = item.ID }), new { @class = "delete-link" })
                </span> @item.Title</li>
              
              }
